body {
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: arial;
}
body {
    background-image: url("https://wallpapercave.com/wp/wp2993789.jpg");
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(28, 28, 28);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #ffffff;
}

/* main container area beneath menu */
main {
    background: rgb(28, 28, 28);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(255, 255, 255) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
        /* portfolio styles */
         .content h1 {
            color: rgb(255, 252, 252);
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: rgb(28, 28, 28);
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
            transition: 150ms;
            box-shadow: 6px 5px #ffffff4b;
        }

        #portfolio :hover {
            background: rgb(255, 255, 255); color: rgb(0, 0, 0);
        }

        #portfolio a {
            text-decoration: none;
            color: #ffffff;
        }
        ::selection{
            background: red;
          }
          img{
            max-width: ;
          }
          /*add width and height to photos*/
          * {
            box-sizing: border-box;
          }
          
          body {
            background-color: rgb(28, 28, 28);
            padding: 20px;
            font-family: Arial;
          }
          
          /* Center website */
          .main {
            max-width: 1000px;
            margin: auto;
          }
          
          h1 {
            font-size: 50px;
            word-break: break-all;
          }
          
          .row {
            margin: 8px -16px;
          }
          
          /* Add padding BETWEEN each column (if you want) */
          .row,
          .row > .column {
            padding: 8px;
          }
          
          /* Create four equal columns that floats next to each other */
          .column {
            float: left;
            width: 25%;
          }
          
          /* Clear floats after rows */
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
          
          /* Content */
          .content {
            background-color: rgb(28, 28, 28);
            padding: 10px;
          }
          
          /* Responsive layout - makes a two column-layout instead of four columns */
          @media screen and (max-width: 900px) {
            .column {
              width: 50%;
            }
          }
          
          /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
          @media screen and (max-width: 600px) {
            .column {
              width: 100%;
            }
          }